<a href="https://colab.research.google.com/github/MonseMoreno/ArteDeLaAnalitica/blob/main/EstadisticaBasica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividad - Estadística básica


* **Nombre:** Monserrat Karime Moreno Casas
* **Matrícula:** A01276775

**Entregar:** Archivo PDF de la actividad, así como el archivo .ipynb en tu repositorio.
**Nota:** Recuerda habrá una penalización de **50** puntos si la actividad fue entregada fuera de la fecha límite.

Carga el conjunto de datos `insurance.csv` (se encuentra en el repositorio de la clase) y realiza un análisis estadístico de las variables.

In [ ]:
#Carga las librerías necesarias.

import pandas as pd
import numpy as n

In [ ]:
# Carga el conjunto de datos al ambiente de Google Colab y muestra los primeros
# 6 renglones.

df = pd.read_csv('insurance.csv')
df.head(6)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160

El conjunto de datos contiene información demográfica sobre los asegurados en una compañía de seguros:
* **age**: Edad del asegurado principal
* **sex**: Género del asegurado. female o male
* **bmi**: Índice de masa corporal
* **children**: Número de hijos que estan cubiertos con la poliza. 
* **smoke**: ¿El beneficiario fuma? (*yes*/*no*)
* **region**: ¿Dónde vive el beneficiario? Estos datos son de Estados Unidos. Regiones disponibles: northeast, southeast, southwest, northwest
* **charges**: Costo del seguro.

In [3]:
# Crea una tabla resumen con los estadísticas generales de las variables
# numéricas.

df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [4]:
# ¿Cómo se correlacionan las varaibles numéricas entre sí?
df.corr()

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

In [14]:
from pandas.core.indexes.base import default_index
# Determina si existe o no una correlación entre el índice de masa corporal 
# (bmi) y el costo del seguro.

df2 = pd.DataFrame({
                  'bmi' : df['bmi'],
                  'charges' : df['charges']
})

df2.corr()

              bmi   charges
bmi      1.000000  0.198341
charges  0.198341  1.000000

In [43]:
# ¿Cuántas personas aseguradas son hombre y cuántas son mujeres?
df['sex'].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [16]:
# ¿Cuántos hombres y mujeres asegurados viven en cada región?

pd.crosstab(df['sex'], df['region'])

region  northeast  northwest  southeast  southwest
sex
female        161        164        175        162
male          163        161        189        163

In [36]:
# En promedio, ¿quién paga más de cuota de seguro? ¿Los fumadores o los no 
# fumadores? Muéstralo con los datos.

df.groupby(['smoker','charges']).mean()

                     age     bmi  children
smoker charges
no     1121.87390   18.0  23.210       0.0
       1131.50660   18.0  30.140       0.0
       1135.94070   18.0  33.330       0.0
       1136.39940   18.0  33.660       0.0
       1137.01100   18.0  34.100       0.0
...                  ...     ...       ...
yes    55135.40209  33.0  35.530       0.0
       58571.07448  31.0  38.095       1.0
       60021.39897  52.0  34.485       3.0
       62592.87309  45.0  30.360       0.0
       63770.42801  54.0  47.410       0.0

[1337 rows x 3 columns]

In [35]:
# ¿Cuáles son las cuotas mínimas y máximas que las personan pagan dependiendo
# del género y del número de hijos?

df.groupby(['sex','children', 'charges']).max()

                             age    bmi smoker     region
sex    children charges
female 0        1607.51010    18  20.79     no  southeast
                1615.76670    18  26.73     no  southeast
                1621.88270    18  31.13     no  southeast
                1622.18850    18  31.35     no  southeast
                1629.83350    18  36.85     no  southeast
...                          ...    ...    ...        ...
male   5        6799.45800    31  28.50     no  northeast
                9222.40260    41  29.64     no  northeast
                9788.86590    45  24.31     no  southeast
                10096.97000   46  25.80     no  southwest
                14478.33015   43  25.52     no  southeast

[1337 rows x 4 columns]

In [40]:
# ¿Cuál es el índice de masa corporal promedio para hombre y mujeres dependiendo
# región en la que viven y si son fumadores? ¿Impacta eso en la tarifa del 
# seguro?

df.groupby(['sex','smoker','region', 'bmi']).mean()

                                 age  children      charges
sex    smoker region    bmi
female no     northeast 16.815  21.0       1.0   3167.45585
                        17.290  32.5       1.0   5305.30260
                        18.335  60.0       0.0  13204.28565
                        19.000  34.0       3.0   6753.03800
                        19.855  36.0       0.0   5458.04645
...                              ...       ...          ...
male   yes    southwest 36.300  46.0       1.5  43057.44000
                        36.400  28.0       1.0  51194.55914
                        37.800  30.0       2.0  39241.44200
                        39.400  20.0       2.0  38344.56600
                        39.900  60.0       0.0  48173.36100

[1033 rows x 3 columns]